.FormPage-Form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #BA93D2;
    height: 100%;
}

/* .FormPage-Form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
} */

.Form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 0 2vh 0;
    gap: 3vw;
}

.Form-row label {
    width: 80%;
}

.Form-ta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2vh 0 2vh 0;
}

input,
textarea,
label {
    font-size: 15px;
    font-weight: 400;
    font-family: "Jost";


}



input:focus,
textarea:focus {
    outline: none;

}

input {
    width: auto;
    border: none;
    background-color: #f4e3ffcb;
    border-style: none;
    border-bottom: #BA93D2;
    border-bottom-style: outset;
}

.b-post,
.b-return {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #F4E3FF;
    border-style: none;
    height: 4vh;
    width: 4vh;
}

.b-post {
    position: relative;
    left: 45%;
}

.b-post svg,
.b-return svg{
    margin: 0;
    height: 3vh;
    width: 3vh;
}

label {
    color: white;
    font-weight: bold;
    letter-spacing: 0.2vh;
}