
  [id='toggle-heart'] {
    position: absolute;
    left: -100vw;
  }
  [id='toggle-heart']:checked + label {
    color: #e2264d;
    -webkit-filter: none;
            filter: none;
    will-change: font-size;
    -webkit-animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
            animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
  }
  [for='toggle-heart']  {
    -webkit-animation: inherit;
            animation: inherit;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
 
[for='toggle-heart'] {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    position: relative;
    color: #888;
    font-size: 2em;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
  }
  [for='toggle-heart']:before, [for='toggle-heart']:after {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    content: '';
  }
  [for='toggle-heart']:before {
    box-sizing: border-box;
    margin: -2.25rem;
    border: solid 2.25rem #e2264d;
    width: 4.5rem;
    height: 4.5rem;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  
  @-webkit-keyframes heart {
    0%, 17.5% {
      font-size: 0;
    }
  }
  
  @keyframes heart {
    0%, 17.5% {
      font-size: 0;
    }
  }
  @-webkit-keyframes bubble {
    15% {
      -webkit-transform: scale(1);
              transform: scale(1);
      border-color: hsl(277, 41%, 70%);
      border-width: 2.25rem;
    }
    30%, 100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      border-color: hsl(277, 41%, 70%);
      border-width: 0;
    }
  }
  @keyframes bubble {
    15% {
      -webkit-transform: scale(1);
              transform: scale(1);
      border-color: hsl(277, 41%, 70%);
      border-width: 2.25rem;
    }
    30%, 100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      border-color: hsl(277, 41%, 70%);
      border-width: 0;
    }
  }
  @-webkit-keyframes sparkles {
    0%, 20% {
      opacity: 0;
    }
 
  }
  @keyframes sparkles {
    0%, 20% {
      opacity: 0;
    }

}