.cardContainer {
    margin: 10% 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.cardImage {
    display: flex;
}

.cardImage img {
    height: 412px;
    width: 295px;
}

#heart {
    position: absolute;
    background: url('../../Assets/Img/heart.png') no-repeat;
    background-position: left;
    background-size: 2900%;
    margin: 10% 0% 0% 60%;
    height: 32vh;
    width: 32vw;
    transform: translate(-50%, -50%);

}

#heart.heart-active {
    animation: animate .8s steps(28) 1;
    background-position: right;
}

@keyframes animate {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}