.cardContainer {
    margin: 10% 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.cardImage {
    display: flex;
    position: relative;
}

.cardImage img {
    
    height: 412px;
    width: 295px;


}

.favHeart{
    position: absolute;
    top:0
}

#heart.heart-active {
    animation: animate .8s steps(28) 1;
    background-position: right;
}

@keyframes animate {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}