.dropdown {
    position: relative;
    display: inline-block;
    width: 200px;
  }
  
  .dropdown__header, .form-row-div {
    padding: 5px;
    background-color: #ba93d2;
    color: #000000;
    border: 1px solid #86619d;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dropdown__header svg {
    margin-left: 1vw;
    position: absolute;
    right: 1.5vh;
  }
  
  .dropdown__categories {
    padding: 0;
    margin-top: 1vh;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    z-index: 1;
    list-style-type: none;

  }
  
  .dropdown__category {
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .dropdown__category:hover,
  .dropdown__category--selected {
    background-color: #ba93d2;
    color: #fff;
  }
  