


.navigation  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70%;
    background-color: #C09DD6;
    width: 100%;
    box-sizing: border-box;
    height: 2em;
    font-size: 2em;
  }
  
  .plusNavigation, .hamburguernavigation {
    height: 3.5vh;
  }
  
  